<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('sleep_time') }}</label>
        <div class="controls">
            <input type="number" step="0.01" class="input-block-level" id="sleep_time" data-bind="value: settings.plugins.spectrym.sleep_time">
        </div>
    </div>
</form>
