<div class="form-group">
    <label class="control-label" for="sleep_time">Sleep Time:</label>
    <input type="text" class="form-control" id="sleep_time" name="sleep_time" value="{{settings.plugins.Spectrym.sleep_time}}" required/>
</div>
